<launch>
     <arg name="gui" default="true" />

     <!-- send the bigman robot XML to param server -->
     <param name="robot_description" command="$(find xacro)/xacro.py 'bigman_capsules.rviz'" />
     <!-- param name="robot_description_semantic" textfile="$(find bigman_srdf)/srdf/bigman.srdf" /-->   
        
    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="250.0" />
    </node> 

</launch>
