<launch>

     <!-- send the coman robot XML to param server -->
     <param name="robot_description" command="$(find xacro)/xacro '$(find coman_urdf)/urdf/coman.urdf.xacro'" />
     
     <!-- send the coman robot XML to param server -->
    <param name="robot_description_semantic" textfile="$(find coman_srdf)/srdf/coman.srdf" />   

    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(env PWD)/example3.rviz" output="screen"/> 

</launch>
