<!-- This is an example of launch file for ros yarp markers -->
<launch>

     <!-- Launch a node ros_yarp_Cartesian_interactive_marker named ros_yarp_Cartesian_interactive_marker_RArm
     for a task from /Waist to /RSoftHand with a port /bigman/example_python/cartesian::r_wrist/set_ref:i -->
     <node pkg="open_sot" type="ros_yarp_Cartesian_interactive_marker" name="ros_yarp_Cartesian_interactive_marker_RArm" output="screen" >
       <param name="base_link" type="string" value="/world" />
       <param name="distal_link" type="string" value="/r_wrist" />
       <param name="port_name" type="string" value="/bigman/example_python/cartesian::r_wrist" />
     </node>

     <!-- Similar to the previous one -->
     <node pkg="open_sot" type="ros_yarp_Cartesian_interactive_marker" name="ros_yarp_Cartesian_interactive_marker_LArm" output="screen" >
       <param name="base_link" type="string" value="/world" />
       <param name="distal_link" type="string" value="/l_wrist" />
       <param name="port_name" type="string" value="/bigman/example_python/cartesian::l_wrist" />
     </node>

</launch>
